<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Wira Ganteng Sedunia</title>
        <meta name="description" content="Our first page">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/500.css">
    </head>
    <body>
        <h5>Internal Server error !</h5>
        <h1 class="poiret-one-regular">5</h1>
        <h1 class="poiret-one-regular">00</h1>
        <div class="box">
			<span></span><span></span>
			<span></span><span></span>
			<span></span>
		</div>
        <div class="box">
			<span></span><span></span>
			<span></span><span></span>
			<span></span>
		</div>
        <p> We're unable to find out what's happening!, You might need see this page source see what error and report it to dev, We suggest you to
			<a href="../">Go Back</a>
			or visit here later.
        </p>
        <!-- <p th:object="${error}" th:if="${error != 'Nothing'}" th:text="${error}">
            [[${error}]]
        </p> -->
    </body>
</html>