<!doctype html>
<html lang="en" class="bg-orange-50">
<head>
    <title>Sky’s Coffee</title>
    <meta name="description" content="Our first page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/output.css">
    <!-- <script src="./main.js"></script>  -->
</head>
<body>
    <div class="w-screen h-screen flex flex-col gap-10 relative ">

        <div class="w-screen flex-1 relative top-5 flex flex-row items-center">
            <div class="flex absolute start-10 text-black text-xl font-medium font-['Inter'] leading-[30px]">Sky’s Coffee</div>
            <div class="w-screen relative end-8 items-center justify-end gap-12 inline-flex">
                <a href="../" class="text-black hover:underline hover:text-blue-700 text-xl font-medium font-['Inter'] leading-[30px]">Home</a>
                <a href="../static/menu" class="text-black hover:underline hover:text-blue-700 text-xl font-medium font-['Inter'] leading-[30px]">Menu</a>
                <a href="../static/TOS.html" class="text-black hover:underline hover:text-blue-700 whitespace-nowrap text-xl font-medium font-['Inter'] leading-[30px]">Term of Service</a>
                <div sec:authorize="!isAuthenticated()">
                    <a href="../auth/login"><button type="button" class="text-orange-50 text-base hover:underline font-medium font-['Inter'] leading-normal px-6 py-3.5 bg-black rounded-lg shadow justify-center items-center gap-2 flex">Login</button></a>
                </div>
                <div sec:authorize="isAuthenticated()">
                  <a href="../logout"> <button class="w-[100px] h-12 left-0 top-0 bg-orange-300 rounded-3xl shadow text-stone-900 text-sm font-medium font-Playfair">Logout</button> </a>
                </div>
                
            </div>
        </div>

        <div class="w-screen flex flex-row gap-4 top-10 items-center relative ">
            <div class="w-[624px] h-[551px] relative start-10 flex-col justify-start items-start gap-6 inline-flex">
                <div class="self-stretch text-black text-[64px] font-bold font-['Inter']">About Sky’s Coffee</div>
                <div class="self-stretch text-zinc-500 text-2xl font-normal font-['Inter'] leading-9">#MakeDifference</div>
                <div class="self-stretch text-black text-justify text-xl font-medium font-['Inter'] leading-[30px]">
                    Sky’s make a difference.<br/><br/>Welcome to our world of coffee perfection, 
                    where every cup is a sanctuary from the chaos of daily life. Whether you 
                    crave the gentle notes of a light roast or the bold richness of a dark blend, 
                    each sip is an invitation to savor the present moment. Committed to quality 
                    and sustainability, we not only tantalize your taste buds but also support 
                    the communities and environments that cultivate our beloved beverage. Join us 
                    on a journey of discovery and delight, where every cup tells a story and every 
                    sip is a celebration.
                </div>
            </div>
            <div class="flex flex-1 justify-end">
                <img class="w-[570px] end-10 h-[660px] flex relative rounded-lg" src="../img/Kisah_Sedihmu.png" />
            </div>
        </div>

        <div class="w-screen flex-1 items-center flex flex-row top-10 relative">
            <div class="flex w-screen flex-1 flex-col">
                <div class="text-black relative left-10 text-2xl font-normal font-['Inter'] leading-9">www.skyscoffee.com</div>
                <div class="relative left-8 justify-start items-start gap-2 inline-flex">
                    <div class="w-10 h-10 relative rounded">
                        <a href="https://www.facebook.com/profile.php?idb=61560516392315&mibextid=ZbWKwL"><button class="w-6 h-6 left-[8px] bg-black rounded-xl top-[8px] absolute">
                            <img class="w-5 h-[19.92px] left-[2px] top-[2.04px] absolute" src="../img/Icon.png" />
                        </button></a>
                    </div>
                    <div class="w-10 h-10 relative rounded">
                        <a href="https://www.linkedin.com/in/sky-s-coffee-879688311/"><button class="w-6 h-6 bg-black rounded-xl left-[8px] top-[8px] absolute">
                            <img class="w-[18px] h-[18px] left-[3px] top-[3px] absolute" src="../img/Icon (2).png" />
                        </button></a>
                    </div>
                    <div class="w-10 h-10 relative rounded">
                        <a href="https://www.instagram.com/skyscoffee24?igsh=MWQ4NmcxcHhsM2FkYg=="><button class="w-6 h-6 left-[8px] bg-black rounded-xl top-[8px] absolute">
                            <img class="w-5 h-5 left-[2px] top-[2px] absolute" src="../img/Icon (3).png" />
                        </button></a>
                    </div>
                </div>
            </div>
            
            <div class="w-screen flex relative m-auto justify-end space-x-28 flex-row right-20 end-0">
                <div class="w-[102px] h-[216px] left-0 top-0 gap-10 relative flex-col">
                    <div class="left-0 top-0 relative text-orange-400 text-[26px] font-bold font-Playfair">About</div>
                    <a href="/static/menu"><div class="hover:underline left-0 relative text-orange-400 text-lg font-normal font-Playfair">Menu</div></a>
                    <a href="/static/about.html"><div class="hover:underline left-0 relative text-orange-400 text-lg font-normal font-Playfair">About Us</div></a>
                  </div>
                  <div class="w-[102px] h-[216px] left-0 top-0 relative flex-col">
                    <div class="left-0 top-0 relative text-orange-400 text-[26px] font-bold font-Playfair">Company</div>
                    <a href="/static/FAQ.html"><div class="hover:underline left-0 top-0 relative text-orange-400 text-lg font-normal font-Playfair">FAQ</div></a>
                    <a href="/static/Privacy.html"><div class="hover:underline left-0 top-0 relative text-orange-400 text-lg whitespace-nowrap font-normal font-Playfair">Privacy Policy</div></a>
                    <a href="/static/TOS.html"><div class="hover:underline left-0 top-0 relative text-orange-400 text-lg whitespace-nowrap font-normal font-Playfair">Term Of Services</div></a>
                  </div>
                <div class="w-[332px] h-[258px] left-0 top-0 relative">
                  <div class="left-0 top-0 absolute text-orange-400 text-[26px] font-bold font-Playfair">Contact Us</div>
                  <div class="w-[332px] h-48 left-0 top-[48.5px] absolute">
                    <div class="w-[332px] h-[54px] left-0 top-0 absolute text-orange-400 text-lg font-normal font-Playfair">Jl. Kelapa Dua Raya No.93, Klp. Dua, Kec. Klp. Dua, Kabupaten Tangerang, Banten 15810</div>
                    <div class="left-0 top-[82px] absolute text-orange-400 text-lg font-normal font-Playfair">+6281367911749 </div>
                    <div class="left-0 top-[122px] absolute text-orange-400 text-lg font-normal font-Playfair">skyscoffeeid@gmail.com</div>
                    <div class="left-0 top-[168px] absolute text-orange-400 text-lg font-normal font-Playfair">www.skyscoffee.com</div>
                  </div>
                </div>
              </div>

      </div>
</body>
</html>