
<!doctype html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
        <head>
            <title>Wira Ganteng Sedunia</title>
            <meta name="description" content="Our first page">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="../css/output.css">
            <!-- <script src="./main.js"></script>  -->
        </head>
    <body>
      <div class="w-screen h-screen flex-col-reverse flex relative bg-white">

        <div class="flex relative flex-1 justify-center flex-col items-center">
            <div class="flex-col relative justify-start items-center gap-1 flex">
                <div class="text-center text-black text-2xl font-semibold font-['Inter'] leading-9">Forget Password</div>
                <div class="text-center text-black text-base font-normal font-['Inter'] leading-normal">Enter your username, and then enter otp and password</div>
            </div>
            <form action="" method="post" th:action="@{/auth/lupa}" th:object="${user}">
                <div class="flex flex-col gap-3">
                    <div class="flex-col relative justify-start items-start gap-4 flex">
                        <input name="Username" required placeholder="Username" th:readonly="*{username != ''}" th:value="*{username}" class="w-[400px] h-10 px-4 py-2 grow shrink basis-0 text-zinc-500 text-xl font-medium font-['Inter'] leading-[30px] bg-white rounded-lg border border-neutral-200 justify-start items-center gap-4 inline-flex" />
                    </div>
                    <div th:object="${send}" th:if="${send != null}" class="flex-col relative justify-start items-start gap-4 flex">
                        <input name="Email" th:value="${user.email}? ''" required placeholder="OTP" class="w-[400px] h-10 px-4 py-2 grow shrink basis-0 text-zinc-500 text-xl font-medium font-['Inter'] leading-[30px] bg-white rounded-lg border border-neutral-200 justify-start items-center gap-4 inline-flex" />
                    </div>
                    <div th:object="${send}" th:if="${send != null}" class="flex-col relative justify-start items-start gap-4 flex">
                        <input name="password" type="password" required placeholder="Password" class="w-[400px] h-10 px-4 py-2 grow shrink basis-0 text-zinc-500 text-xl font-medium font-['Inter'] leading-[30px] bg-white rounded-lg border border-neutral-200 justify-start items-center gap-4 inline-flex" />
                    </div>
                    <div th:object="${send}" th:if="${send != null}" class="flex-col relative justify-start items-start gap-4 flex">
                        <input name="RePassword" type="password" required placeholder="Re-Enter Password" class="w-[400px] h-10 px-4 py-2 grow shrink basis-0 text-zinc-500 text-xl font-medium font-['Inter'] leading-[30px] bg-white rounded-lg border border-neutral-200 justify-start items-center gap-4 inline-flex" />
                    </div>
                    <button th:object="${send}" th:hidden="${send != null}" type="submit" class=" relative top-0 transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 rounded-lg left-0 h-10 min-w-full text-center text-black text-base font-medium font-['Inter'] leading-normal">Send OTP</button>
                    <button th:object="${send}" th:hidden="${send == null}" type="submit" class=" relative top-0 transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 rounded-lg left-0 h-10 min-w-full text-center text-black text-base font-medium font-['Inter'] leading-normal">Reset Password</button>
                </div>
            </form>
            <div th:object="${error}" th:hidden="${error == null}" class="w-[400px] left-0 top-0 relative text-center">
                <span style="color: red;" class="text-base font-['Inter'] leading-normal" th:text="${error}"></span>
            </div>
            <div th:object="${yeay}" th:hidden="${yeay == null}" class="w-[400px] left-0 top-0 relative text-center">
                <span style="color: green;" class="text-base font-['Inter'] leading-normal" th:text="${yeay}"></span>
            </div>
            <div class="flex flex-col space-y-4 relative">
                <div class="w-[400px] left-0 top-0 relative text-center">
                    <span class="text-zinc-500 text-base font-['Inter'] leading-normal">By clicking continue, you agree to our </span>
                    <a href="../static/TOS.html" class="text-black text-base hover:underline hover:text-blue-700 font-normal font-['Inter'] leading-normal">Terms of Service</a>
                    <span class="text-zinc-500 text-base font-normal font-['Inter'] leading-normal"> and </span>
                    <a href="../static/Privacy.html" class="text-black text-base hover:underline hover:text-blue-700 font-normal font-['Inter'] leading-normal">Privacy Policy</a>
                </div>
            </div>
        </div>
        <div class="flex flex-row top-8 w-screen justify-between relative">
            <div class="flex start-5 items-center relative text-black text-xl font-semibold font-['Inter']">Lupa Password</div>
            <div class="relative end-8 items-center gap-12 flex">
                <a href="../" class="text-black hover:underline hover:text-blue-700 text-xl font-medium font-['Inter'] leading-[30px]">Home</a>
                <a href="../static/menu" class="text-black hover:underline hover:text-blue-700 text-xl font-medium font-['Inter'] leading-[30px]">Menu</a>
                <a href="../static/about.html" class="text-black hover:underline hover:text-blue-700 whitespace-nowrap text-xl font-medium font-['Inter'] leading-[30px]">About Us</a>
                <button th:onclick="|window.location.href='../auth/login'|" class="text-orange-50 text-base hover:underline font-medium font-['Inter'] leading-normal px-6 py-3.5 bg-black rounded-lg shadow justify-center items-center gap-2 flex">Masuk</button>
            </div>
        </div>
    </div>
    </body>
</html>