<!doctype html>
<html lang="en">
<head>
    <title>Wira Ganteng Sedunia</title>
    <meta name="description" content="Our first page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/output.css">
    <!-- <script src="./main.js"></script>  -->
</head>
<body>
    <div class="w-screen h-screen relative bg-white">
        <div class="flex flex-row top-8 w-screen justify-between relative">
            <div class="flex start-5 items-center relative text-black text-xl font-semibold font-['Inter']">Sky’s Terms Of Service</div>
            <div class="relative end-8 items-center gap-12 flex">
                <a href="./static/index" class="text-black hover:underline hover:text-blue-700 text-xl font-medium font-['Inter'] leading-[30px]">Home</a>
                <a href="#" class="text-black hover:underline hover:text-blue-700 text-xl font-medium font-['Inter'] leading-[30px]">Menu</a>
                <a href="./static/TOS.html" class="text-black hover:underline hover:text-blue-700 whitespace-nowrap text-xl font-medium font-['Inter'] leading-[30px]">Term of Services</a>
                <div sec:authorize="!isAuthenticated()">
                    <a href="../auth/login"><button type="button" class="text-orange-50 text-base hover:underline font-medium font-['Inter'] leading-normal px-6 py-3.5 bg-black rounded-lg shadow justify-center items-center gap-2 flex">Login</button></a>
                </div>
                <div sec:authorize="isAuthenticated()">
                  <a href="../logout"> <button class="w-[100px] h-12 left-0 top-0 bg-orange-300 rounded-3xl shadow text-stone-900 text-sm font-medium font-Playfair">Logout</button> </a>
                </div>
            </div>
        </div>
        <div class="w-screen flex-1 flex justify-center">
            <div class="w-[1000px] left-5 top-10 relative flex-col items-center gap-6 inline-flex">
            <div class="relative  text-black text-[64px] font-bold font-['Inter']">Privacy Policy</div>
            <div class="relative  text-zinc-500 text-2xl font-normal font-['Inter'] leading-9">Privacy Policy Sky’s Coffee</div>
            <div class="h-fit relative flex-1 text-justify">
                <span class="text-black text-xl font-medium font-['Inter'] leading-[30px]">Privacy is paramount to us at Sky's Coffee Shop. We value your trust in us to keep your personal information secure. This Privacy Policy outlines how we collect, use, and protect your personal information when you use our services.<br/><br/></span>
                <span class="text-black text-xl font-bold font-['Inter'] leading-[30px]">Information We Collect:<br/></span>
                <ol class="list-decimal list-outside relative">
                    <li class="text-black text-xl font-medium font-['Inter'] leading-[30px]">
                        Information Provided by Users: When you use our services, you may be asked to provide personal information such as name, email address, phone number, and other relevant addresses for service purposes.<br/>
                    </li>
                    <li class="text-black text-xl font-medium font-['Inter'] leading-[30px]">
                        Automatic Information: We may also collect automatic information about your usage of our services, such as IP address, type of device you use, browser type, and server logs.<br/>
                    </li>
                </ol>
                <span class="text-black text-xl font-bold font-['Inter'] leading-[30px]">How We Use Your Information:<br/></span>
                <ol class="list-decimal list-outside relative ">
                    <li class="text-black text-xl font-medium font-['Inter'] leading-[30px]">
                        To Provide Services: We use the information you provide to deliver the services you request, such as processing your orders, sending payment confirmations, and providing updates about your orders.<br/>
                    </li>
                    <li class="text-black text-xl font-medium font-['Inter'] leading-[30px]">
                        For Communistation: We may use your information to send updates, offers, and other information about our products or services that may be of interest to you. You can opt out of these communications at any time.<br/>
                    </li>
                    <li class="text-black text-xl font-medium font-['Inter'] leading-[30px]">
                        For Service Improvement: We use your information to understand how you use our services and to enhance the user experience.
                    </li>
                </ol>
                <span class="text-black text-xl font-bold font-['Inter'] leading-[30px]">How We Protect Your Information:<br/></span>
                <span class="text-black text-xl font-medium font-['Inter'] leading-[30px]">We take appropriate security measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. We encrypt sensitive data transmitted through our website and adhere to relevant industry standards to safeguard your personal information.<br/></span>
                <span class="text-black text-xl font-bold font-['Inter'] leading-[30px]">Sharing Information with Third Parties:<br/></span>
                <span class="text-black text-xl font-medium font-['Inter'] leading-[30px]">We will not sell, rent, or share your personal information with third parties without your consent, except as required by law or in cases of protecting our rights or the rights of others.<br/></span>
                <br/>
                <span class="text-black text-xl font-bold font-['Inter'] leading-[30px]">Changes to Terms of Service<br/></span>
                <span class="text-black text-xl font-medium font-['Inter'] leading-[30px]">This Privacy Policy may be amended from time to time. Such changes will be effective after we post the updated policy on our website. We encourage you to check our privacy policy periodically to ensure you understand our current practices.<br/></span>
                <span class="text-black text-xl font-bold font-['Inter'] leading-[30px]">Contact Us<br/></span><span class="text-black text-xl font-medium font-['Inter'] leading-[30px]">If you have any questions or concerns about these Terms of Service, please contact us at skyscoffeeid@gmail.com or visit our website for more information.</span></div>
            </div>
        </div>
      </div>
</body>
</html>