<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sky’s Coffee</title>
    <meta name="description" content="Our first page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/output.css">
    <!-- <script src="./main.js"></script>  -->
</head>
<body>
    <div class="w-screen h-screen flex-col-reverse flex relative bg-white">

        <div class="flex relative flex-1 justify-center flex-col items-center">
            <div class="flex-col relative justify-start items-center gap-1 flex">
                <div class="text-center text-black text-2xl font-semibold font-['Inter'] leading-9">Login </div>
                <div class="text-center text-black text-base font-normal font-['Inter'] leading-normal">Enter your username and password </div>
            </div>
            <form action="" method="post" th:action="@{/auth/login}" th:object="${user}">
                <div class="flex flex-col gap-3">
                    <div class="flex-col relative justify-start items-start gap-4 flex">
                        <input name="username" type="text" required placeholder="Username" class="w-[400px] h-10 px-4 py-2 grow shrink basis-0 text-zinc-500 text-xl font-medium font-['Inter'] leading-[30px] bg-white rounded-lg border border-neutral-200 justify-start items-center gap-4 inline-flex" />
                    </div>
                    <div class="flex-col relative justify-start items-start gap-4 flex">
                        <input name="password" type="password" required placeholder="Password" class="w-[400px] h-10 px-4 py-2 grow shrink basis-0 text-zinc-500 text-xl font-medium font-['Inter'] leading-[30px] bg-white rounded-lg border border-neutral-200 justify-start items-center gap-4 inline-flex" />
                    </div>
                    <div class="w-[400px] relative flex ">
                        <button class=" w-[400px] top-0 transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300 rounded-lg left-0 h-10 min-w-full text-center relative text-black text-base font-medium font-['Inter'] leading-normal">Login</button>
                    </div>
                </div>
            </form>
            <div th:object="${info}" th:hidden="${info == null}" class="w-[400px] left-0 top-0 relative text-center">
                <span class="text-zinc-500 text-base font-['Inter'] leading-normal" th:text="${info}"></span>
            </div>
          <div th:object="${error}" th:hidden="${error == null}" class="w-[400px] left-0 top-0 relative text-center">
            <span style="color: red;" class="text-base font-['Inter'] leading-normal" th:text="${error}"></span>
          </div>
            <div class="w-[400px] left-0 top-0 relative justify-center items-center gap-2 inline-flex">
                <div class="grow shrink basis-0 h-px bg-neutral-200"></div>
                <div class="text-center text-zinc-500 text-base font-normal font-['Inter'] leading-normal">or continue with</div>
                <div class="grow shrink basis-0 h-px bg-neutral-200"></div>
            </div>
            <div class="flex flex-col space-y-4 relative">
                
                    <div class="w-[400px]  flex ">
                        <div class="w-[400px] h-10 left-0 top-0 relative bg-zinc-100 rounded-lg"></div>
                        <button th:onclick="|window.location.href='../auth/lupa'|" type="button" class="left-0 h-10 transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-green-500 duration-300 rounded-lg bg-transparent min-w-full text-center absolute text-black text-base font-medium font-['Inter'] leading-normal">Lupa Password</button>
                    </div>
                
                
                    <div class="w-[400px] flex relative">
                        <div class="w-[400px] h-10 left-0 top-0 relative "></div>
                        <button th:onclick="|window.location.href='../auth/register'|" type="button" class="left-0 h-10 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:bg-amber-600 duration-300 bg-black rounded-lg min-w-full text-center absolute text-white text-base font-medium font-['Inter'] leading-normal">Sign up with email</button>
                    </div>
                 
                <div class="w-[400px] left-0 top-0 relative text-center">
                    <span class="text-zinc-500 text-base font-['Inter'] leading-normal">By clicking continue, you agree to our </span>
                    <a href="../static/TOS.html" class="text-black text-base hover:underline hover:text-blue-700 font-normal font-['Inter'] leading-normal">Terms of Service</a>
                    <span class="text-zinc-500 text-base font-normal font-['Inter'] leading-normal"> and </span>
                    <a href="../static/Privacy.html" class="text-black text-base hover:underline hover:text-blue-700 font-normal font-['Inter'] leading-normal">Privacy Policy</a>
                </div>

            </div>
        </div>
        <div class="flex flex-row top-8 w-screen justify-between relative">
            <div class="flex start-5 items-center relative text-black text-xl font-semibold font-['Inter']">Login</div>
            <div class="relative end-8 items-center gap-12 flex">
                <a href="/" class="text-black hover:underline hover:text-blue-700 text-xl font-medium font-['Inter'] leading-[30px]">Home</a>
                <a href="../static/menu" class="text-black hover:underline hover:text-blue-700 text-xl font-medium font-['Inter'] leading-[30px]">Menu</a>
                <a href="../static/about.html" class="text-black hover:underline hover:text-blue-700 whitespace-nowrap text-xl font-medium font-['Inter'] leading-[30px]">About Us</a>
                <button th:onclick="|window.location.href='../auth/register'|" class="text-orange-50 text-base hover:underline font-medium font-['Inter'] leading-normal px-6 py-3.5 bg-black rounded-lg shadow justify-center items-center gap-2 flex">Daftar</button>
            </div>
        </div>
    </div>
</body>
</html>