<!doctype html>
<html lang="en">
<head>
    <title>Sky’s Coffee</title>
    <meta name="description" content="Our first page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/output.css">
    <!-- <script src="./main.js"></script>  -->
</head>
<body>
    <div class="w-screen h-screen relative bg-white">
        <div class="flex flex-row top-8 w-screen justify-between relative">
            <div class="flex start-5 items-center relative text-black text-xl font-semibold font-['Inter']">Sky’s Terms Of Service</div>
            <div class="relative end-8 items-center gap-12 flex">
                <a href="../" class="text-black hover:underline hover:text-blue-700 text-xl font-medium font-['Inter'] leading-[30px]">Home</a>
                <a href="../static/menu" class="text-black hover:underline hover:text-blue-700 text-xl font-medium font-['Inter'] leading-[30px]">Menu</a>
                <a href="../static/FAQ.html" class="text-black hover:underline hover:text-blue-700 whitespace-nowrap text-xl font-medium font-['Inter'] leading-[30px]">FAQ</a>
                <div sec:authorize="!isAuthenticated()">
                    <a href="../auth/login"><button type="button" class="text-orange-50 text-base hover:underline font-medium font-['Inter'] leading-normal px-6 py-3.5 bg-black rounded-lg shadow justify-center items-center gap-2 flex">Login</button></a>
                </div>
                <div sec:authorize="isAuthenticated()">
                  <a href="../logout"> <button class="w-[100px] h-12 left-0 top-0 bg-orange-300 rounded-3xl shadow text-stone-900 text-sm font-medium font-Playfair">Logout</button> </a>
                </div>
            </div>
        </div>
        <div class="w-screen flex-1 flex justify-center">
            <div class="w-[1000px] left-5 top-10 relative flex-col items-center gap-6 inline-flex">
            <div class="relative  text-black text-[64px] font-bold font-['Inter']">Terms Of Service</div>
            <div class="relative  text-zinc-500 text-2xl font-normal font-['Inter'] leading-9">Sky’s Coffee Terms Of Service (TOS)</div>
            <div class="relative flex-1 text-justify">
                <span class="text-black text-xl font-bold font-['Inter'] leading-[30px]">Terms of Service for Coffee Subscription<br/></span>
                <span class="text-black text-xl font-medium font-['Inter'] leading-[30px]">Welcome to our coffee subscription service. These Terms of Service outline the rules and regulations for the use of our subscription service.<br/>By accessing this service, we assume you accept these terms and conditions in full. Do not continue to use our service if you do not accept all of the terms and conditions stated on this page.<br/></span>
                <span class="text-black text-xl font-bold font-['Inter'] leading-[30px]">Subscription Services<br/></span>
                <span class="text-black text-xl font-medium font-['Inter'] leading-[30px]">Our subscription service allows you to receive regular deliveries of our premium coffee products. By subscribing, you agree to receive recurring shipments of coffee according to your selected subscription plan.<br/></span>
                <span class="text-black text-xl font-bold font-['Inter'] leading-[30px]">Billing and Payments<br/></span>
                <span class="text-black text-xl font-medium font-['Inter'] leading-[30px]">Payment for subscription services will be charged on a recurring basis according to your chosen billing cycle (monthly, quarterly, etc.). You agree to provide accurate and complete payment information, and authorize us to charge your payment method for the total amount due.<br/></span>
                <span class="text-black text-xl font-bold font-['Inter'] leading-[30px]">Cancellation and Refunds<br/></span>
                <span class="text-black text-xl font-medium font-['Inter'] leading-[30px]">You may cancel your subscription at any time by contacting our customer service team or through your account settings. Cancellations must be made before the next billing cycle to avoid being charged for the upcoming shipment. Refunds will not be provided for partial subscription periods.<br/></span>
                <span class="text-black text-xl font-bold font-['Inter'] leading-[30px]">Shipping and Delivery<br/></span>
                <span class="text-black text-xl font-medium font-['Inter'] leading-[30px]">We aim to ship your coffee orders promptly according to your selected delivery schedule. However, we cannot guarantee specific delivery dates or times. Shipping costs may apply and will be calculated at checkout.<br/>Product Availability and Substitutions<br/>We make every effort to ensure that our coffee products are available for subscription orders. In the event that a particular product is unavailable, we reserve the right to substitute it with a comparable item of equal or greater value.<br/></span>
                <span class="text-black text-xl font-bold font-['Inter'] leading-[30px]">Changes to Terms of Service<br/></span>
                <span class="text-black text-xl font-medium font-['Inter'] leading-[30px]">We reserve the right to update or modify these Terms of Service at any time without prior notice. Changes will be effective immediately upon posting to the website. It is your responsibility to review these terms periodically for any updates.<br/></span>
                <span class="text-black text-xl font-bold font-['Inter'] leading-[30px]">Contact Us<br/></span><span class="text-black text-xl font-medium font-['Inter'] leading-[30px]">If you have any questions or concerns about these Terms of Service, please contact us at skyscoffeeid@gmail.com or visit our website for more information.<br/>By using our coffee subscription service, you acknowledge that you have read, understood, and agree to be bound by these Terms of Service.</span></div>
            </div>
        </div>
      </div>
</body>
</html>